footer {
  background-color: #333333; /* Gris foncé */
  color: white; /* Texte blanc pour un bon contraste */
  padding: 40px 0;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Arial", sans-serif;
}

footer h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #dcdcdc; /* Gris clair pour les titres */
}

footer p {
  font-size: 1rem;
  color: #bbb; /* Gris plus clair pour le texte */
}

footer a {
  color: #bbb;
  text-decoration: none;
  font-weight: 500;
  margin-left: 10px;
}

footer a:hover {
  color: #fff; /* Change la couleur des liens au survol */
  text-decoration: underline;
}

footer .widget {
  margin-bottom: 30px;
}

footer .links li {
  margin-bottom: 10px;
}

footer .links a {
  color: #bbb;
  font-size: 1rem;
}

footer .links a:hover {
  color: #fff; /* Accent au survol des liens */
  text-decoration: underline;
}

footer .pt-5 p {
  margin-top: 20px;
  color: #aaa; /* Gris très clair pour le texte du copyright */
}

footer .pt-5 a {
  color: #bbb;
}

footer .pt-5 a:hover {
  color: #fff;
  text-decoration: underline;
}
