<footer>
  <div class="container">
    <div class="row">
      <!-- Information sur l'entreprise -->
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>À propos de nous</h3>
          <p>
            Découvrez <strong>çanta</strong>, votre expert en sacs à main de
            luxe.
          </p>
        </div>
      </div>

      <!-- Liens principaux -->
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Nos Collections</h3>
          <ul class="list-unstyled links">
            <li><a href="/femme">Sacs à Main Femme</a></li>
            <li><a href="/homme">Sacs à Main Homme</a></li>
          </ul>
        </div>
      </div>

      <!-- Service client -->
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Service Client</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Contactez-nous</a></li>
            <li><a href="#">Livraison</a></li>
          </ul>
        </div>
      </div>

      <!-- Suivez-nous sur les réseaux sociaux -->
      <div class="col-lg-3">
        <div class="widget mb-3">
          <h3>Suivez-nous</h3>
          <ul class="list-unstyled links">
            <li>
              <a href="https://www.instagram.com/malek_ben.hassine/"
                >Instagram</a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100090599804183"
                >Facebook</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copyright et mentions légales -->
    <div class="row text-center">
      <div class="col-md-12">
        <div class="pt-5">
          <p>
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            çanta. Tous droits réservés. |
            <a
              href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires"
              >Mentions légales</a
            >
            |
            <a
              href="https://www.legalplace.fr/guides/politique-de-confidentialite-rgpd/"
              >Politique de confidentialité</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
