<div class="container mt-4">
    <button class="btn btn-dark" (click)="onRetour()">Retour</button>
    <h2 class="mb-4">Modifier un sac</h2>
     <form  [formGroup]="productForm" (ngSubmit)="onSubmit() ; productForm.reset()" >
       
       <!-- Nom -->
       <div class="mb-3">
         <label  class="form-label">Nom</label>
         <input type="text"  class="form-control" formControlName="nom" />
         
       </div>
       
        @if(nom?.errors?.['required'] && nom?.dirty){
         <div class="alert alert-danger">
              le champ Nom est Obligatoire
         </div>
        }
      
       <!-- Catégorie -->
       <div class="mb-3">
         <label for="categorie" class="form-label">Catégorie</label>
         <input type="text"   class="form-control"  formControlName="categorie" />
        
       </div>
   
       <!-- Prix -->
       <div class="mb-3">
         <label for="prix" class="form-label">Prix</label>
         <input type="number"class="form-control" formControlName="prix" />
         
       </div>
       @if(prix?.errors?.['required'] && prix?.dirty){
         <div class="alert alert-danger">
              le champ Prix est Obligatoire
         </div>
        }@else if (prix?.errors?.['min'] && prix?.dirty) {
         <div class="alert alert-danger">
           le champ Prix est Obligatoirement > 10
      </div>
        }
       <!-- Description -->
       <div class="mb-3">
         <label for="description" class="form-label">Description</label>
         <textarea class="form-control" rows="3" formControlName="description"></textarea>
        
       </div>
   
       <!-- Détail -->
       <div class="mb-3">
         <label class="form-label">Détail</label>
         <textarea class="form-control" rows="3" formControlName="detail"></textarea>
         
       </div>
   
       <!-- Promotion -->
       <div class="mb-3">
         <label  class="form-label">Promotion (%)</label>
         <input type="number"  class="form-control" formControlName="promotion" />
         
       </div>
   
       <!-- Date de lancement -->
       <div class="mb-3">
         <label class="form-label">Date de lancement</label>
         <input type="date"  class="form-control" formControlName="dateDelancement" />
         
       </div>
   
       <!-- En stock -->
       <div class="mb-3 form-check">
         <input type="checkbox"   class="form-check-input" formControlName="enStock"/>
         <label class="form-check-label" >En stock</label>
       </div>
   
       <!-- Couleur -->
       <div class="mb-3">
         <label for="couleur" class="form-label">Couleur</label>
         <input type="text"  class="form-control" formControlName="couleur" />
       </div>
   
       <!-- Quantité -->
       <div class="mb-3">
         <label  class="form-label">Quantité</label>
         <input type="number" class="form-control" formControlName="quantite" />
         
       </div>
   
       <!-- Marque -->
       <div class="mb-3">
         <label for="marque" class="form-label">Marque</label>
         <input type="text" class="form-control" formControlName="marque"/>
       </div>
   
       <!-- Boutons Submit et Annuler -->
       <div class="d-flex justify-content-between">
         <button type="submit"  class="btn btn-primary" [disabled]="productForm.invalid" >Modifier</button>
         <button type="button" (click)="onEffacer()" class="btn btn-secondary">Annuler</button>
       </div>
     </form>
   </div>
