
  
  <div class="container mt-4">
    <button class="btn btn-dark" (click)="onDisconnect()">Deconnexion</button>
    <button type="button" (click)="changeMdp()" class=" btn btn-danger">Réinitialiser le mot de passe</button>
    <button type="button" (click)="onRetour()" class=" btn btn-dark">Retour à la page d'acceuil</button>
    <h2>Liste des Sacs</h2>
    <div class="row">
        @for ( sac of sacs; track $index) {
      <div class="col-md-4" >
        <div class="card" style="width: 18rem;">
          <img [src]="sac.photo" class="card-img-top" alt="{{sac.nom}}">
          <div class="card-body">
            <h5 class="card-title">{{ sac.nom }}</h5>
            <p class="card-text">{{ sac.description }}</p>
            <p><strong>Prix:</strong> {{ sac.prix | currency }} </p>
            <p><strong>Categorie:</strong> {{ sac.categorie }}</p>
            <p><strong>Quantité:</strong> {{ sac.quantite }}</p>
            <div class="card-footer text-center">
        
                @if(sac.categorie=="Femme"){
                    <button class="btn btn-outline-primary "><a [routerLink]="['/femme',sac.id]" routerLinkActive="router-link-active" >Voir les détails</a></button>
               
                }@else {
                    <button class="btn btn-outline-primary "><a [routerLink]="['/homme',sac.id]" routerLinkActive="router-link-active" >Voir les détails</a></button>
               
                }  </div>
            <div class="d-flex justify-content-between">
              <button class="btn btn-warning" (click)="onModifSac(sac.id)" >
                <i class="bi bi-pencil"></i> Modifier
              </button>
              <button class="btn btn-danger" (click)="onDeleteSac(sac.id)">
                <i class="bi bi-trash"></i> Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>}
    </div>
  </div>
  
